/* ProductList.css */

.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.product-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
  padding: 20px;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.product-card img:hover {
  transform: scale(1.05);
}

.product-info {
  text-align: center;
  margin-top: 10px;
}

.product-info h4 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.product-info p {
  margin: 5px 0;
  color: #666;
}

.add-to-cart-button {
  background-color: #76027a;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
}

.add-to-cart-button:hover {
  background-color: #f707e3;
}

h3 {
  font-size: xx-large;
  margin-bottom: 20px;
  color: #ea00ff;
}

/* SearchBar Styles */
.search-bar {

  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease-in-out;
}

.search-bar input:focus {
  outline: none;
  border-color: #007bff;
}
