/* SearchBar.css */

.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.search-bar-container:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.search-bar-input {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  outline: none;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.search-bar-input:focus {
  border-color: #010038;
  box-shadow: 0 0 5px rgba(21, 14, 87, 0.5);
}

.search-bar-button {
  background-color: #bf20df;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-weight: bold;
}

.search-bar-button:hover {
    background-color: #d65eee;
}
